.pointer {
    position: absolute;
    transition:
        top 0.05s,
        left 0.05s,
        opacity var(--opacity-duration, 5s) ease-in-out;

    &[style*="opacity: 1"] {
        --opacity-duration: 0.1s; // Fast fade in (0 to 1)
    }

    &[style*="opacity: 0"] {
        --opacity-duration: 5s; // Slow fade out (1 to 0)
    }
    //Translate by size
    transform: translate(0px, 0px);
    z-index: 1;
}

$ring_size_small: 5px;
$ring_size_large: 50px;
.pointerDown {
    position: absolute;
    width: $ring_size_small;
    height: $ring_size_small;

    border: 1px solid var(--color, red);
    border-radius: 50%;
    opacity: 0.75;
    animation: expand 1s ease-out forwards;
    pointer-events: none;
    z-index: 0;
    background-color: transparent;
}

// We cant use scale as this will scale the border as well
@keyframes expand {
    0% {
        margin-top: 0;
        margin-left: 0;
        width: $ring_size_small;
        height: $ring_size_small;
        opacity: 0.75;
    }

    100% {
        margin-top: $ring_size_large / -2;
        margin-left: $ring_size_large / -2;
        width: $ring_size_large;
        height: $ring_size_large;
        opacity: 0;
    }
}
