/*Redefine colors for our app*/

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$light: #e7e8e8;
$dark: #171d53;
$primary: #2f3992;
$secondary: #5756a9;
$info: #8c80d6;
$accent1: #4a3094;
$accent2: #6e64aa;
$accent3: #aca8a9;
$success: #309e63;
$warning: #dfca31;
$danger: #ba4140;

$theme-colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray,
    "gray-dark": $gray-dark,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900,
    "light": $light,
    "dark": $dark,
    "primary": $primary,
    "secondary": $secondary,
    "info": $info,
    "accent1": $accent1,
    "accent2": $accent2,
    "accent3": $accent3,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
);
