@use "@colors" as *;
@import "./fonts";

html,
body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
}

main {
    background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: "PlayfairDisplay";
}

.navbar-title {
    font-family: "PlayfairDisplay";
    font-size: 1.1rem;
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

hr {
    margin: 0.5rem 0;
}

.text-right {
    text-align: right;
}

.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

//Center bi icons
.bi {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the scrollbar */
/* Works on Firefox */
* {
    scrollbar-width: thick;
    scrollbar-color: $primary white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 10px;
}

@supports (padding: max(0px)) {
    body,
    header,
    footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}

// Autofill for inputs
input:is(:-webkit-autofill, :autofill, :-moz-autofill, :-moz-autofill-preview) {
    border: 3px solid var(--bs-secondary);
    filter: none !important;
    animation-fill-mode: both;
    box-shadow: 0 0 0 100px var(--bs-white) inset;

    &:focus {
        animation-fill-mode: both;
        outline: 2px solid #979cc9;
        box-shadow: 0 0 0 100px var(--bs-white) inset;
    }
}
