@use "@colors" as c;
// Mixin for glassmorphism
@mixin glassmorphism {
    backdrop-filter: blur(16px) saturate(147%);
    -webkit-backdrop-filter: blur(16px) saturate(147%);
    background-color: rgba(222, 226, 230, 0.46);
    border-radius: var(--bs-border-radius);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-top: none;
    overflow: hidden;
    padding: 2rem;
    padding-top: 1rem;
    position: relative;

    &::after {
        content: "";
        box-sizing: inherit;
        position: absolute;

        border-top: 5px solid c.$primary;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
    }
}

@mixin glassmorphism($border_color: c.$primary) {
    backdrop-filter: blur(16px) saturate(147%);
    -webkit-backdrop-filter: blur(16px) saturate(147%);
    background-color: rgba(222, 226, 230, 0.46);
    border-radius: var(--bs-border-radius);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-top: none;
    overflow: hidden;
    padding: 2rem;
    padding-top: 1rem;
    position: relative;

    &::after {
        content: "";
        box-sizing: inherit;
        position: absolute;

        border-top: 5px solid $border_color;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
    }
}

@mixin background {
    background: rgba(0, 0, 0, 0)
        linear-gradient(
            161deg,
            rgb(251, 251, 255) 80.34%,
            rgb(215, 223, 252) 100%
        )
        repeat scroll 0% 0%;
}

@mixin flex_disable_grow_shrink($flex: 0 0 auto) {
    flex: $flex;
    -webkit-flex: $flex;
    -ms-flex: $flex;
}

@mixin folded_corner($sidebar-bg: c.$primary) {
    // Folded bottom left corner of content
    &::after {
        content: "";
        position: absolute;
        display: fixed;
        bottom: 0;
        left: 0;
        border-right: 1rem solid white;
        border-bottom: 1.5rem solid $sidebar-bg;

        // A bit of shadow in the corner
        box-shadow: 0 0 0.5rem 0.1rem $sidebar-bg;

        width: 0;
    }
}
