@use "@breakpoints" as *;

.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;

    body {
        display: flex;
        flex-direction: column;
    }

    h1 {
        padding-bottom: 0.5rem;
        text-align: center;
    }

    // Mobile layout shows navbar ontop
    @media (max-width: $md) {
        flex-direction: column;
    }
}
