@use "@breakpoints" as *;

//Wrapper for any documentation page
.wrapper {
    padding: 20px;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;

    h1 {
        font-size: 2rem !important;
        text-align: left;
        margin-bottom: 1rem;
        padding: 0 !important;
        font-family: "Playfair Display", serif;
    }

    h2 {
        font-size: 1.5rem !important;
        font-weight: 600;
        color: var(--bs-primary);
        margin-top: 0.5rem !important;
        margin-bottom: 1rem !important;
        padding: 0 !important;
    }

    h3 {
        font-size: 1.5rem !important;
        font-weight: 600;
        color: var(--bs-primary);
        margin-top: 2rem !important;
        margin-bottom: 1.5rem !important;
        padding: 0 !important;
    }

    ul {
        list-style-type: disc;
        padding-left: 4rem;
        margin-bottom: 1rem;
    }

    ol {
        list-style-type: decimal;
        padding-left: 4rem;
    }

    pre {
        padding-left: 4rem;
        code {
            font-size: 1rem;
        }
    }

    button {
        font-size: 1.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        //Disable underline
        text-decoration: none;
        gap: 0.25rem;
    }
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;

    // Mobile layout shows navbar ontop
    @media (max-width: $md) {
        flex-direction: column;
    }
}
