.card_content {
    display: flex;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    justify-items: center;

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* Individual card styling */
.card_wrapper {
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card_content {
    padding-inline: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    h3 {
        margin-bottom: 10px;
    }

    p {
        line-height: 1.6;
    }
}
