@import "@colors";
@import "@mixins";

// Fullsize page hero without navbar
$page_size: calc(100dvh - 55px);

$bg: repeating-linear-gradient(
        45deg,
        $gray-100,
        transparent 20px,
        transparent 25px
    ),
    repeating-linear-gradient(
        -45deg,
        $gray-100,
        transparent 20px,
        transparent 25px
    );

/** Main container holding the full fontPage and all its sections
* see above for background styling
*/
.main {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: $bg;
    font-size: 1.1rem;
    color: $dark;
}

$accent_height_1: 5px;
$accent_height_2: 10px;
$accent_padding: 10px;

/** Section wrapper holds styling for section paragraph
*/
.section_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: $gray-300;

    .accent1 {
        position: absolute;
        width: 100%;
        height: $accent_height_1;
        top: -1 * ($accent_padding * 2 + $accent_height_2 + $accent_height_1);
        background-color: $gray-300;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: $bg;
            position: absolute;
        }
    }
    .accent2 {
        position: absolute;
        width: 100%;
        top: -1 * ($accent_padding + $accent_height_2);
        height: $accent_height_2;
        background-color: $gray-300;
    }

    // Add margin top if accented
    &.accented {
        margin-top: $accent_padding * 3 + $accent_height_2 + $accent_height_1;
    }
}

.section {
    width: fit-content;
    max-width: 1280px;
    padding: 2rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    justify-content: center;
    align-items: center;

    hr {
        width: 10%;
        height: 5px;
        background-color: $primary;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border: none;
        opacity: 1;
    }

    @media (max-width: 768px) {
        padding: 1rem;
        padding-inline: 0.2rem;
        width: 100%;
        overflow: hidden;
    }
}

.mouseScrollWrapper {
    $mouse_color: $white;

    // Hide on phones
    @media (max-width: 800px) {
        display: none;
    }

    .mouseScroll {
        display: block;
        margin: 0 auto;
        width: 24px;
        height: 100px;
        margin-top: 125px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        .mouse {
            height: 42px;
            width: 24px;
            border-radius: 14px;
            transform: none;
            border: 2px solid $mouse_color;
            top: 170px;
        }

        .wheel {
            height: 5px;
            width: 2px;
            display: block;
            margin: 5px auto;
            background: $mouse_color;
            position: relative;

            height: 4px;
            width: 4px;
            border: 2px solid $mouse_color;
            -webkit-border-radius: 8px;
            border-radius: 8px;

            -webkit-animation: mouse-wheel 0.6s linear infinite;
            -moz-animation: mouse-wheel 0.6s linear infinite;
            animation: mouse-wheel 0.6s linear infinite;
        }

        .arrows {
            span {
                display: block;
                width: 5px;
                height: 5px;
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
                transform: rotate(45deg);

                border-right: 2px solid $mouse_color;
                border-bottom: 2px solid $mouse_color;
                margin: 0 0 3px 4px;

                width: 16px;
                height: 16px;
            }

            .one,
            .two,
            .three {
                animation: mouse-scroll 1s infinite;
            }

            .one {
                margin-top: 1px;

                animation-delay: 0.1s;
                animation-direction: alternate;
                animation-delay: alternate;
            }

            .two {
                animation-delay: 0.2s;
                animation-direction: alternate;

                margin-top: -6px;
            }
            .three {
                animation-delay: 0.3s;
                animation-direction: alternate;

                margin-top: -6px;
            }
        }
    }
}

@keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
