@import "@colors";

@mixin shrink_small_screen_content {
    @media (max-width: 768px) {
        padding-top: 0;
        padding-inline: 0.25rem;
        flex-direction: column;
        justify-content: flex-start;
        overflow-wrap: anywhere;
    }
}

.content {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 0.5rem;
    .text {
        flex-basis: 66%;
        position: relative;
        text-align: left;
        font-size: 1.1rem;
        padding-inline: 0.5rem;
    }

    .imgWrapper {
        flex-basis: 33%;
        position: relative;
        width: 100%;
        overflow: hidden;
        min-height: 250px;
    }
    @include shrink_small_screen_content;
}

.buttons {
    display: flex;
    width: 100%;

    button {
        width: 100%;
        font-size: 1.5rem;
    }
    gap: 1rem;

    //Remove styling for a
    a {
        width: 100%;
        border: none;
        padding: 0;
        background-color: transparent;
        color: $dark;
        text-decoration: none;
        &:hover {
            background-color: transparent;
            color: $dark;
        }
    }
}

.buttonsWrapper {
    padding-top: 1rem;
    width: 100%;
    max-width: 1000px;
    hr {
        align-self: flex-start;
    }

    @include shrink_small_screen_content;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.2rem;

    h1 {
        //Center
        display: flex;
        justify-content: center;
        padding-block: 1rem;
        align-items: center;
        position: relative;
        text-align: center;
        vertical-align: middle;
        margin: 0;
        font-size: 3.5rem;
        padding-right: 0.75rem;
        font-weight: 500;
        color: $dark;
        &::before {
            //Draw line with round edges
            content: "";
            display: block;
            height: calc(100% - 10px);
            position: absolute;
            width: 5px;
            right: 0;
            top: 5px;
            background-color: $primary;
            border-radius: 5px;
        }
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 1.5rem;
        text-align: left;
        padding-left: 0.75rem;
        margin: 0;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding-bottom: 1rem;
        h1 {
            font-size: 2.5rem;
            padding-right: 0;
            &::before {
                //line underneath
                content: "";
                display: block;
                height: 5px;
                position: absolute;
                width: calc(100% + 10px);
                top: 100%;
                left: -10px;
                background-color: $primary;
                border-radius: 5px;
            }
            &::after {
                //line above
                content: "";
                display: block;
                height: 5px;
                position: absolute;
                width: 5px;
                top: 100%;
                right: -10px;
                background-color: $primary;
                border-radius: 5px;
            }
            padding-bottom: 0.25rem;
            margin-bottom: 0.75rem;
        }
        h2 {
            text-align: center;
            padding-inline: 0.5rem;
        }
    }
}

.wrapper {
    min-height: 100dvh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 768px) {
        margin-top: -50px;
        min-height: unset;
        padding-top: 0;
        justify-content: flex-start;
    }
}
