@use "@colors" as c;

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--bs-body-bg);
    border-radius: var(--bs-border-radius);

    th {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid c.$primary;
    }

    // Column width
    .col_switch {
        text-align: center;
        width: 5rem;
        border-right: 1px solid rgba(c.$primary, 0.5);
        border-left: 1px solid rgba(c.$primary, 0.5);
        &:last-child {
            border-right: none;
        }
    }
    .col_remove {
        text-align: center;
        width: 2rem;
        border-right: 1px solid rgba(c.$primary, 0.5);
        border-left: 1px solid rgba(c.$primary, 0.5);
        &:last-child {
            border-right: none;
        }
    }
    .col_date {
        width: 20rem;
        border-right: 1px solid rgba(c.$primary, 0.5);
        border-left: 1px solid rgba(c.$primary, 0.5);
        &:last-child {
            border-right: none;
        }
    }
    .col_copy {
        width: 2rem;
        border-right: 1px solid rgba(c.$primary, 0.5);
        &:last-child {
            border-right: none;
        }
    }

    td {
        padding-inline: 8px;
        padding-block: 4px;
    }
}

// Center the switches in the column
.switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

// A row to separate the table
.separator {
    height: 1px;
    background-color: c.$primary;
    padding: 0 !important;
}

// a cell with a button
.shared_link_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
