@import "@colors";

$max-width-dropzone: 500px;

.bookSelector {
    margin: 1rem;
    display: flex;
    justify-content: center;

    :global(.dropdown-toggle) {
        flex: 1;
    }
}

.dropzone {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border: 3px dashed $primary;
    border-radius: 5px;
    min-height: 150px;

    padding: 2rem;
    text-align: center;
    color: $accent3;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropzoneInfo {
    // Titles
    label {
        //left: 0;
        font-weight: 600;
        color: $primary;
    }

    // File list
    ul {
        padding: 0;
        padding-left: 1rem;
        margin: 0;
        color: $primary;
        list-style: none;

        //  Gap between list items
        li + li {
            margin-top: 0.25rem;
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1rem;
            line-break: anywhere;
        }
    }
}

.book_selector {
    display: flex;
    gap: 0.5rem;

    // The dropdown menu
    > div {
        flex: 1;
    }
}

.closeAlert {
    position: absolute;
    top: 0;
    right: 0;

    // Reset btn style
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    i {
        font-size: 1.5rem;
        color: $danger;
    }
}
