@import "@colors";

$activeColor: $accent1;

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1rem;

    button {
        all: unset;
        border-style: none;
        background-color: transparent;
    }

    #upButton {
        all: unset;
        display: inline-flex;
        border: 0;
        margin: 0;
        outline: 0;
        position: relative;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        line-height: 1;
    }

    #folderIcon {
        i {
            font-size: 1.1rem;
        }
        margin-right: 0.4rem;
        margin-left: 0.4rem;
    }

    nav {
        text-align: left;
        flex-grow: 100;
        font-weight: 400;
        font-family: "Roboto", sans-serif;

        ol {
            margin: 0;

            button {
                margin: 0;
                padding: 0;

                &:hover {
                    background-color: transparent;
                    text-decoration: underline;
                }

                &[data-active="true"] {
                    font-weight: bold;
                    cursor: default;
                    text-decoration: none;
                }
            }
        }
    }
}

.toolbar {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    justify-content: center;

    button {
        all: unset;
        border-style: none;
        background-color: transparent;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.1rem 0.5rem;
        border-radius: 4px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
        }
        // Diable hover if data-active is true
        &[data-active="true"] {
            background-color: transparent;
            cursor: default;
        }
    }

    .search {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1 1 150px;
        position: relative;

        @keyframes spinner {
            to {
                transform: rotate(360deg);
            }
        }

        &[data-loading="true"]::before {
            // rotating loading icon
            background: none;
            content: "";
            box-sizing: border-box;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 5px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: #000;
            animation: spinner 0.6s linear infinite;
        }
        input {
            padding-left: 24px;
            border-radius: 5px;
            width: 100%;
            max-width: 300px;
            background: url(./icons/search.svg) no-repeat 0 0;
            background-position: center left 4px;
            position: relative;
        }

        &[data-loading="true"] input {
            background: none;
        }

        input:focus {
            outline: none;
            outline-color: $primary;
            border-color: $primary;
        }

        .nItems {
            margin-left: 0.5rem;
            font-size: 0.8rem;
            span {
                display: inline-block;
                &:first-child {
                    margin-right: 0.2rem;
                }
                &:last-child {
                    white-space: nowrap;
                }
            }

            line-height: 1rem;
            color: rgba(0, 0, 0, 0.54);
        }
    }

    .layouts {
        display: flex;
        flex-direction: row;
        align-items: center;

        button {
            i {
                font-size: 1.1rem;
            }
            &[data-active="true"] {
                color: $activeColor;
                cursor: default;
            }
        }
    }

    .createBook,
    .createFolder {
        display: flex;
        flex-direction: row;
        align-items: center;

        button {
            i {
                font-size: 1.1rem;
            }
            svg {
                width: 1rem;
                height: 1rem;
            }
            &[data-active="true"] {
                color: $activeColor;
                cursor: default;
            }
        }
        span {
            margin-left: 0.5rem;
            white-space: nowrap;
        }
    }
    .createFolder {
        // Remove text from options button if screen to small
        @media (max-width: 1200px) {
            span {
                display: none;
            }
        }
    }
    .createBook {
        // Remove text from options button if screen to small
        @media (max-width: 600px) {
            span {
                display: none;
            }
        }
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: center;

        // Remove text from options button if screen to small
        @media (max-width: 900px) {
            .optionsButton {
                span {
                    display: none;
                }
            }
        }
        .optionsButton {
            span {
                margin-right: 0.5rem;
            }
        }

        .popover {
            border: solid 1px rgba(0, 0, 0, 0.12);
            background-color: white;
            border-radius: 4px;
            //drop shadow
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    padding: 2px;
                    padding-inline: 0.5rem;

                    &:first-child {
                        padding-top: 0.5rem;
                    }
                    &last-child {
                        padding-bottom: 0.5rem;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.12);
                        cursor: pointer;
                    }
                }
            }

            .sort_item {
                padding-left: 24px;
                &[data-set="false"] {
                    // Show straight line icon
                    background: url(./icons/dash.svg) no-repeat 0 0;
                    background-position: center left 2px;
                }
                &[data-set="asc"] {
                    // Show ascending icon
                    background: url(./icons/sort-up.svg) no-repeat 0 0;
                    background-position: center left 2px;
                    color: $activeColor;
                }
                &[data-set="desc"] {
                    // Show descending icon
                    background: url(./icons/sort-down.svg) no-repeat 0 0;
                    background-position: center left 2px;
                    color: $activeColor;
                }
            }

            .toggle_item {
                padding-left: 24px;
                &[data-active="false"] {
                    // Show straight line icon
                    background: url(./icons/square.svg) no-repeat 0 0;
                    background-position: center left 4px;
                    background-size: 0.8rem;
                }
                &[data-active="true"] {
                    // Show ascending icon
                    background: url(./icons/check-square.svg) no-repeat 0 0;
                    background-position: center left 4px;
                    background-size: 0.8rem;
                    color: $activeColor;
                }
            }
        }
    }
}

.fileList {
    .header,
    .item {
        display: flex;
        flex-direction: row;
        align-items: center;

        border-bottom: 1px solid #ccc;
        padding: 0.2rem 0.5rem;

        .icon {
            margin-right: 8px;
            width: 18px;
            i {
                font-size: 1.1rem;
            }
        }
        .name {
            font-weight: bold;
            margin-right: 16px;
            flex: 1 1 200px;
            text-overflow: ellipsis;
            white-space: nowrap;

            a {
                color: $primary;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
                color: $activeColor;
                cursor: pointer;
            }
        }

        .property_icon,
        .property_name,
        .property_num,
        .property_date {
            font-weight: 400;
            font-size: 0.8rem;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .property_name,
        .property_date {
            flex: 0 1 155px;
        }
        .property_num {
            flex: 0 1 60px;
        }
        .property_icon {
            display: flex;
            justify-content: flex-end;
            flex: 0 1 70px;

            a {
                &[data-disabled="true"] {
                    color: $gray;
                    opacity: 0.5;
                }
            }

            button {
                margin-left: 0.5rem;
                padding: 0;
                border: none;
                background: none;
                color: $primary;

                &:hover {
                    color: $activeColor;
                    cursor: pointer;
                }
            }
        }

        // Do not show the property column if the screen is too small
        @media (max-width: 600px) {
            .property_date {
                display: none;
            }
        }

        &[data-hover="true"] {
            background-color: rgba(0, 0, 0, 0.12);
        }
    }

    .header {
        border-bottom: 1px solid $primary;
        padding: 0.1rem 0.5rem;
        font-size: 0.8rem;
        .property_name,
        .property_num,
        .property_date,
        .name {
            font-weight: 500;
            color: black;
            &:hover {
                text-decoration: none;
                cursor: default;
            }
        }
    }
}

.fileGrid {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    justify-items: center;

    grid-gap: 1rem;

    .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 130px;

        .thumbnail {
            position: relative;
            height: 180px;
            width: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;

            svg {
                width: 100%;
                height: fit-content;
            }
            img {
                border-radius: 4px;
                border: 1px solid #ccc;
                overflow: hidden;
            }
        }
        .name {
            font-weight: bold;
            margin-right: 16px;
            text-align: center;
            padding-inline: 0.2rem;
            padding-top: 0.1rem;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;

            a {
                color: $primary;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            a:hover {
                text-decoration: underline;
                color: $activeColor;
                cursor: pointer;
            }
        }
        &[data-hover="true"] .thumbnail {
            background-color: rgba(0, 0, 0, 0.12);
        }
    }
}

.BooksBrowser {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    touch-action: manipulation;
    border-radius: 4px;
    padding: 1rem;
    gap: 1rem;

    // Media query for sizes
    width: 100%;
}

.onboarding_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $gray;
    padding-top: 0.25rem;
}

.onboarding {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    button {
        border-style: none;
        background-color: $white;
        padding: 0;
        display: flex;
        gap: 0.25rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid $primary;
        padding: 0.4rem 0.5rem;
        max-height: 6rem;
        max-width: 8rem;
        aspect-ratio: 1 / 1;

        &:hover {
            background-color: $primary;
            color: $white;
        }
        // Diable hover if data-active is true
        &[data-active="true"] {
            background-color: transparent;
            cursor: default;
        }
    }

    .createBook {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0.5rem;
        min-width: 5.425rem;
        font-size: 0.8rem;
    }
}
