@use "@colors" as *;

$bg: repeating-linear-gradient(
        45deg,
        $gray-100,
        transparent 20px,
        transparent 25px
    ),
    repeating-linear-gradient(
        -45deg,
        $gray-100,
        transparent 20px,
        transparent 25px
    );

.pageWrapper {
    position: relative;
    overflow: hidden;
    touch-action: none;
    z-index: 0;
    width: 100%;
    height: 100%;
    //Disable annoying selection
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viewer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    //https://stackoverflow.com/questions/48124372/pointermove-event-not-working-with-touch-why-not
    touch-action: none;
    background: $bg;
    background-color: var(--bs-body-bg);
}
