@use "@colors" as c;

.preview {
    height: 250px;
    background-color: white;
    position: relative;

    > canvas,
    > img {
        width: 100%;
        height: 100%;
        border: 1px solid c.$primary;
        border-radius: 4px;
    }

    &::after {
        content: "Preview";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        color: c.$gray-300;
    }
}

.wrapper {
    margin-top: 1rem;
    width: 100%;

    p {
        text-align: center;
    }
}
