@import "@colors";

.sidebar {
    position: sticky;
    top: 0;
    height: 100%;
    min-width: fit-content;
    max-width: 20%;
    padding: 1rem;
    background-color: #f5f5f5;
    border-right: 1px solid #e5e5e5;
    overflow: scroll;

    .title {
        font-size: 1rem;
        font-weight: 700;
    }
    .header {
        font-weight: 700;
    }

    ul {
        list-style: none;
        padding-inline-start: 0.5rem;
    }
    li {
        padding-inline-start: 0.5rem;
        list-style: none;
    }
}

.table,
.image {
    width: 100%;
    border-collapse: collapse;
    padding-inline: 2rem;
    font-size: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
        max-height: 50vh;
        object-fit: contain;
    }
}

.alert {
    font-size: 1rem;
    padding-inline: 4rem;

    p {
        margin: 0;
    }
}
