.wrapper {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .header {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

/** Form for each found account/user */

.direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    span {
        font-weight: 700;
    }

    button {
        padding: 0.1rem 0.25rem;
    }
    margin-bottom: 2rem;
}

.verifyBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    div {
        flex-wrap: wrap;
    }
}
