@import "@colors";

.footer {
    background-color: $gray-300;

    font-size: 0.8rem;
    bottom: 0;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);

    line-height: 1.25rem;
    color: $gray-600;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: $gray-600;
    }
    ul li {
        display: inline-block;
        margin: 0 0.2rem;
    }

    .footer_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
    }

    // Add padding which is equal to the safe area inset bottom
    padding-bottom: max(env(safe-area-inset-bottom, 0.35rem), 0.35rem);

    // Disable footer for pwa
    @media all and (display-mode: standalone),
        all and (display-mode: fullscreen) {
        display: none !important;
    }
}
