@use "@breakpoints" as *;
@use "@colors" as *;

$navbar_height: 55px;
$logo_size: 40px; //square

#header {
    padding-top: 10rem;
    height: 55px;
    position: relative;
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath fill='rgba%28255,255,255,1%29' stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

#filler {
    background-color: var(--bs-body-bg);
    height: 100%;
    width: 100%;
    &::after {
        content: "";
        display: block;
        height: 55px;
        background-color: var(--bs-body-bg);
    }
}

#dropdown {
    height: 100%;
}
#dropdown_menu {
    background-color: $primary;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-top: 0px;
    border: 0;
    min-width: 0px;
    width: max-content;

    button {
        padding: 0.25rem;
        padding-left: 3.5rem;
        padding-right: 1rem;
        color: white;
        width: 100%;
        text-align: right;
        background-color: $primary;
        border: none;
        border-radius: 0;
        border-top: 0px;
        line-height: 1.8rem;
        display: flex;
        justify-content: flex-start;
        &:hover {
            background-color: #5e65a0;
            color: white;
            border: none;
            border-top: 0px;
        }

        svg,
        i {
            position: absolute;
            left: 1rem;
            font-size: 1.5rem;
        }

        &[data-active="true"] {
            background: mix($primary, #5e65a0);
            border: none;
            border-top: 0px;
            //disable button hover
            &:hover {
                border: none;
                border-top: 0px;
                cursor: default;
            }
        }
    }

    a {
        //disable underline
        text-decoration: none;
    }

    hr {
        margin: 0.5rem 0;
    }
}
#dropdown_toggle {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    color: white;
    font-size: 37px;
    padding-inline: 0.5rem;
}

#buttons {
    padding-right: 2rem;

    button {
        background-color: transparent;
        border: none;
        align-content: center;
        display: flex;

        &:hover {
            background-color: transparent;
        }
        object {
            fill: white;
        }
    }
}

$padding: 0.5rem;
#logo {
    display: flex;
    padding: $padding;
    div {
        margin-left: 0.5rem;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.5rem;
        font-family: "PlayfairDisplay";
        color: white;
    }

    @media (max-width: $md) {
        padding: 0;

        img {
            width: 2.2rem;
            height: 2.2rem;
        }
    }
}

.dropdown-item {
    color: white;
    background-color: $primary;
    border-top: 0px;
}

.own-layout {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-layout-split%22%3E%3Cpath%20d%3D%22M14.006%201.994a1%201%200%20011%201v10a1%201%200%2001-1%201h-12a1%201%200%2001-1-1v-10a1%201%200%20011-1zm-12-1a2%202%200%2000-2%202v10a2%202%200%20002%202h12a2%202%200%20002-2v-10a2%202%200%2000-2-2z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    display: inline-block;
}
