// Tape colors
$tape_gray: #dbd8be;
$tape_edge_gray: #b7b49d;
$tape-width: 6vmin;
$tape-height: 2vmin;

.blue {
    --paper-color: #d5e0f9;
    --paper-dark: #c2d0ea;
    --shadow-size: 2px;
    --transparent: rgba(213, 224, 249, 0);
}

.paper {
    // Positioning
    position: relative;
    display: flex;
    flex-direction: column;

    // Sizing
    min-height: 130px;
    min-width: 250px;

    // Styling
    background: linear-gradient(
            to bottom right,
            var(--paper-dark),
            20%,
            var(--transparent)
        ),
        var(--paper-color);

    box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);

    margin-inline: 1.6rem;
    margin-top: 1rem;
}

.tapeTop {
    // Positioning
    position: absolute;
    width: 100%;
    display: flex;

    &::before,
    &::after {
        content: "";
        position: absolute;

        width: $tape-width;
        height: $tape-height;

        background-color: $tape_gray;
        opacity: 0.5;
        border-right: 1px dotted $tape_edge_gray;
        border-left: 1px dotted $tape_edge_gray;

        top: 0;
    }

    &::before {
        transform: rotate(-45deg);
        left: -$tape-width / 2 + $tape-width / 6;
    }

    &::after {
        transform: rotate(45deg);
        right: -$tape-width / 2 + $tape-width / 6;
        top: 0;
    }
}

@font-face {
    font-family: "Pacifico";
    src: url("/fonts/Pacifico-Regular.ttf");
}

.header {
    padding-inline: 2rem;
    padding-top: 0.6rem;
    font-family: "Pacifico", serif;
    font-size: 1.5rem;

    // Default alignment (left or as per parent)
    display: flex;
    justify-content: flex-start; // Default alignment
    align-items: flex-start; // Default alignment
    flex-direction: column;
}

.content {
    padding-inline: 1rem;
    padding-block: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.paper {
    a {
        color: var(#2196f3);
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover {
            text-decoration: underline;
            color: var(--link-hover-color, #1976d2);
        }
    }

    button {
        // I think it looks better without the typical button styling
        border-radius: 0.1rem;
    }
}
