@use "@breakpoints" as *;
@use "sass:color";
@use "@colors" as *;

/** Default layout
* The default layout consists of a sidebar and a main content area
*
* > Main (flex)
*   > Sidebar (fixed width)
*   > Content (flex)
*/
$sidebar-bg: $gray-300;
$content-bg: $gray-100;
$padding: 1rem;

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: relative;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    background-color: $sidebar-bg;

    h1 {
        color: $primary;
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    // Folded bottom left corner of content
    &::after {
        content: "";

        border-right: 1rem solid white;
        border-bottom: 1.5rem solid $sidebar-bg;

        // A bit of shadow in the corner
        box-shadow: 0 0 0.5rem 0.1rem $sidebar-bg;
        width: 0;
        margin-top: auto;
        margin-right: auto;
    }

    > div {
        // inner wrapper for the content
        background-color: $content-bg;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        height: 100%;
        margin-bottom: -1.5rem;
        padding-inline: 1rem;
        padding-block: 1.5rem;
        padding-top: 3rem;
    }
}

// The branding class is used to style the top of the sidebar
$stich_color: $gray-500;
.branding {
    background-color: $primary;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 5px;
        background: repeating-linear-gradient(
            90deg,
            $stich_color 2px,
            $stich_color 5px,
            transparent 5px,
            transparent 10px
        );
    }
}

.content_accent {
    background-color: $primary;
    width: 100%;
    height: 5px;
    padding: 0;
    z-index: 1000;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 5px;
        background: repeating-linear-gradient(
            90deg,
            $stich_color 2px,
            $stich_color 5px,
            transparent 5px,
            transparent 10px
        );
    }
}

/* --------------------------- mobile layout -------------------------- */
// Sidebar ontop and potential mobile button
// might also only hold icons
$tab-bg: $sidebar-bg;
$tab-bg-active: $content-bg;

.mobile_expand {
    // If button is pressed sets a data-expanded attribute is set to true
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.mobile_close {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

@media (max-width: $md) {
    .sidebar {
        overflow: visible;
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        overflow: visible;
        position: relative;
        z-index: 20;
        position: sticky;

        > nav {
            display: none;
            max-width: 100%;
        }

        background-color: $primary;

        // When navbar is expanded
        &[data-mobile-expanded="true"] {
            > nav {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                padding-inline: 1rem;
                padding-block: 0.5rem;
                background-color: rgba(0, 0, 0, 0.6);
                // Set background filter
                backdrop-filter: blur(2px);

                overflow-y: auto;

                ul {
                    gap: 0.2rem;
                    display: flex;
                    flex-direction: column;
                }

                //Any link item
                li {
                    > a,
                    > div {
                        padding-block: 0.5rem;
                        padding-inline: 0.75rem;
                        border-radius: 0.5rem;
                        background-color: $tab-bg;
                        color: $primary;
                        font-weight: bold;
                        text-align: right;
                        display: flex;
                        gap: 0.5rem;
                        width: 100%;
                        justify-content: space-between;

                        &:hover {
                            background-color: $tab-bg-active;
                        }
                    }

                    &[data-active="true"] > * {
                        background-color: $tab-bg-active;
                        position: relative;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 100%;
                            width: 0.25rem;

                            background-color: $accent1;
                        }
                    }

                    padding-inline: 1rem;
                    margin-left: 1rem;
                    &[data-align="left"] {
                        margin-left: 0rem;
                        text-align: left;
                    }
                    &[data-align="right"] {
                        text-align: right;
                    }

                    &[data-special="true"] {
                        // A bit hacky but works to define a min margin top
                        min-height: 6rem;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin-top: auto;
                        padding-bottom: 1rem;
                    }
                }

                .folderListItem,
                .folderListItem > a {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 0;
                    width: 100%;
                }

                .folderListItem {
                    margin-top: 0.25rem;
                }
            }
        }
    }

    .mobile_expand {
        display: flex;
    }
    .mobile_close {
        display: flex;
        margin-left: auto;
        //Drop shadow
        box-shadow: 0 0 0.5rem 0rem $dark;
    }

    // Swap stitches from branding to
    // the bottom of the sidebar
    .branding::after {
        display: none;
    }
    .sidebar::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 5px;
        background: repeating-linear-gradient(
            90deg,
            $stich_color 2px,
            $stich_color 5px,
            transparent 5px,
            transparent 10px
        );
    }
}

/* ------------------------ Sidebar in desktop layout ----------------------- */
$tab-padding-x: 1rem;
$tab-padding-y: 0.6rem;
$tab-border: None;

@mixin tab_active($bg_color: $tab-bg-active) {
    position: relative;
    background-color: $bg_color;

    // We fill the padding to the right of the tab in a after element
    // to make the tab look like it is connected to the content
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: $padding;

        background-color: $bg_color;
        border-top: $tab-border;
        border-bottom: $tab-border;
    }
}

@mixin tab_base($bg_color: $tab-bg) {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    background-color: $bg_color;
    color: $primary;

    padding: $tab-padding-y $tab-padding-x;

    border-radius: 0.5rem;
    border: $tab-border;

    text-decoration: none;
    font-weight: bold;
    overflow: visible;
    width: max-content;

    > div,
    > a {
        display: flex;
        justify-content: flex-start;
        width: max-content;
        gap: 0.5rem;
        text-decoration: none;
    }

    &[data-align="left"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &::before {
            left: calc(-1 * #{$padding});
        }
    }
    &[data-align="right"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &::before {
            right: calc(-1 * #{$padding});
        }
    }

    // Align svg icons to the left
    .img,
    svg,
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
    }

    // Responsive layout hide the span when the screen is too small

    @media (max-width: $lg) {
        padding-left: $tab-padding-x/2;
    }
}

@media (min-width: $md) {
    .sidebar {
        display: flex;
        height: 100%;
        flex-direction: column;

        nav {
            display: flex;
            background-color: $sidebar-bg;
            height: 100%;
            padding: $padding / 2;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }

        li {
            @include tab_base;
            // Active tab
            &[data-active="true"],
            &[data-special="true"] {
                @include tab_active;
            }

            // Hover state
            &:hover:not([data-active="true"]) {
                cursor: pointer;
                @include tab_active($gray-200);
                background-color: $gray-200;
            }

            // bottom of flex container
            &[data-special="true"] {
                margin-top: auto;
                //justify-self: flex-end;
                padding-left: $tab-padding-y + 0.5rem;
                margin-left: -0.5rem;
            }
            width: max-content;
            min-width: 110px;
        }

        li.folderListItem {
            color: $primary;

            padding-inline: 1rem;
            padding-block: 0.5rem;
            margin-left: -1rem;

            // Center in box
            width: calc(100% + 2rem);
            justify-content: space-between;
            margin-top: 0;
            margin-bottom: 0;

            border-top: 1px solid $gray-400;
            border-bottom: 1px solid $gray-400;
            font-weight: 800;

            > * {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }

        li,
        li > a {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
    }
}

/** Shared styles for the sidebar and the content */
.sidebar {
    overflow-y: auto;
    overflow-x: hidden;

    nav > ul {
        height: 100%;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: $primary;
    }

    li {
        display: flex;
        flex-direction: column;
    }
}

/** Padding for standalone or fullscreen PWAs */
.sidebar {
    padding-top: env(safe-area-inset-top);
    background-color: $primary;
}
.content {
    &::before {
        content: "";
        display: block;
        height: env(safe-area-inset-top);
        width: 100%;
        background-color: $primary !important;
    }
    padding-bottom: env(safe-area-inset-bottom);
}
