<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>[SNIP] Email change requested</title>
    <style>
        body {
            font-family: Lato, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            max-width: 720px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            font-family: PlayfairDisplay, sans-serif;

            color: #333333;
            margin-bottom: 1rem;
        }

        div,
        p {
            font-size: 1rem;
            color: #666666;
            margin-bottom: 0.5rem;
        }

        div {
            margin: 0;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .signature {
            font-size: 14px;
            color: #999999;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>
        Change your email for SNIP
    </h1>

    <p>
        We received a request to change your email address for your SNIP account to <b>{{new_email}}</b>.
        If you did not make this request, you can ignore this email.
    </p>

    <p>Please open this <b>
            <a href="{{change_link}}">link</a>
        </b> in a browser to change your email address.
    </p>
    <p>
        This link will expire in 1 hour, thus please change your email address as soon as possible.
    </p>
    <p>
        Best regards,
        <br />
        your SNIP Team
    </p>
</body>

</html>