<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>[SNIP] Invitation to Collaborate on {{book_title}}</title>
    <style>
        body {
            font-family: Lato, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            max-width: 720px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            font-family: PlayfairDisplay, sans-serif;

            color: #333333;
            margin-bottom: 1rem;
        }

        div,
        p {
            font-size: 1rem;
            color: #666666;
            margin-bottom: 0.5rem;
        }

        div {
            margin: 0;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .signature {
            font-size: 14px;
            color: #999999;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>
        Invitation to join the book {{book_title}}
    </h1>

    <p>
        You have been invited to collaborate on the book <b>{{book_title}}</b> by <b>{{inviter_email}}</b>. If you're
        interested in joining, please follow the link below. If you are not interested, you can ignore this email.
    </p>

    <p>Please open this
        <b>
            <a href="{{link}}">link</a>
        </b> in a browser to accept the invitation.
    </p>

    <p>
        Best regards,
        <br />
        your SNIP Team
    </p>
</body>

</html>