.mirror,
.rotate {
    grid-column: 1;
    grid-row: span 1;
    min-width: 200px;
    width: 100%;
    height: 100%;

    :global(.input-group) {
        margin-top: 0.5rem;
    }

    > div {
        height: 100%;
    }
}
.submenu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    width: min-content;
    > div {
        height: 100%;
    }

    :global(.input-group) {
        width: 100%;
        margin-top: 0rem;
    }
}

.place {
    grid-column: span 1;
    width: 100%;
    display: flex;
    gap: 0.5rem;

    height: 100%;
    .inputs {
        width: 100%;
    }
    > div {
        height: 100%;
    }
    input {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        font-weight: 500;
        color: var(--bs-gray-700) !important;
    }
}

/** The align item in the menu*/
.align {
    grid-column: span 1;
    width: 100%;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        aspect-ratio: 1;
        border: 1px solid var(--bs-border-color);

        &:hover {
            border: 1px solid var(--bs-primary);
        }

        svg {
            stroke: var(--bs-secondary);
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    height: 4rem !important;
    gap: 0.15rem;
    padding-top: 1.75rem !important;
    padding-bottom: 0.3rem !important;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        aspect-ratio: 1;
        border: 1px solid var(--bs-border-color);

        &:hover {
            border: 1px solid var(--bs-primary);
        }

        svg {
            stroke: var(--bs-secondary);
            width: 1rem;
        }
    }
}
