$widthGroupActions: 25px;

.group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 1rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    overflow: hidden;
    min-height: 80px;
    background-color: var(--bs-body-bg);

    .groupContent {
        width: calc(100% - $widthGroupActions);
        height: 100%;
    }

    //Because of webkit box we do some hacky absolute positioning
    .actions {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        height: 100%;
        width: $widthGroupActions;
        min-height: 50px;
        justify-content: flex-start;
        align-items: flex-start;

        button {
            padding: 0.1rem;
        }
    }

    .header {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-wrap: wrap;

        svg {
            flex-shrink: 0;
            width: 20px;
        }
        margin-bottom: 0.25rem;
    }

    .title {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        overflow: hidden;
        white-space: nowrap;

        text-transform: capitalize;
        text-overflow: ellipsis;
        text-align: left;
        height: 1.5rem;
        gap: 0.25rem;
    }
    .badge {
        border-radius: 0.5rem;
        font-size: 0.8rem;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
        padding: 0.2rem 0.5rem;
    }

    .description {
        //Reset all the styles

        font-weight: normal;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;

        textarea {
            all: unset;
            width: 100%;
            height: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
}

.memberTable {
    th {
        text-align: left;
        font-weight: normal;
        font-style: italic;
    }
    tbody {
        tr {
            td:first-child {
                padding-left: 1rem;
            }
            @media (max-width: 768px) {
                td:first-child {
                    padding-left: 0.1rem;
                }
            }
        }
    }
}
