@use "@colors" as *;

// The overhang of the label
$overhang: 6px;

// The hardcoded width of the preview
$width: 150px;

/** Single pages or
*  snippets
*  
* Images or canvas hold the preview of the page or snippet
* and the label can be used to display the name of the page or snippet
* or the page number
*/
.snip,
.page {
    box-sizing: border-box;
    cursor: default;

    position: relative;
    padding: $overhang;
    display: flex;

    .back,
    .front,
    > canvas,
    > img {
        width: $width;
        height: $width * 1.414;
        border: 1px solid $primary;
        border-radius: 4px;
        background-color: $white;

        // Alt text as overlay
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: $gray-300;
        font-size: 30px;
    }

    > .topbar,
    > label {
        // Positioning
        position: absolute;
        top: 0;
        right: 0;
        padding: 1px 4px;

        // font alignment
        font-size: 0.75rem;
        line-height: 1rem;
    }

    > label {
        // Styling
        border: 1px solid $primary;
        border-radius: 6px;
        color: $dark;
        background-color: $white;
    }

    .topbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        > * {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2px;
            text-align: right;

            padding: 1px 4px;

            // Styling
            border: 1px solid $primary;
            border-radius: 6px;
            color: $dark;
            background-color: $white;
        }
    }

    .onlineUsers {
        position: absolute;
        margin-top: 1.5rem;
        width: 1rem;
        top: 0;
        right: 0;
        display: flex;
        gap: 2px;
        flex-direction: column;

        label {
            border-radius: 6px;
            border: 1px solid $green;
            color: $green;

            font-size: 0.75rem;
            line-height: 1rem;

            background-color: rgba($gray-100, 0.9);
            text-align: center;
        }
    }

    .labels_top {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        gap: 2px;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        label {
            // font alignment
            font-size: 0.75rem;
            line-height: 1rem;

            padding: 1px 4px;

            // Styling
            border: 1px solid $primary;
            border-radius: 6px;
            color: $dark;
            background-color: $white;
            text-align: center;
        }
    }

    &:hover {
        .back,
        .front,
        > .topbar > *,
        > label,
        > canvas,
        > img {
            //border: 1px solid $accent1;
            box-shadow: 2px 2px 4px $accent3;
            outline: 1px solid $primary;
            cursor: pointer;
        }
    }

    // Active state
    &[data-active="true"] {
        .back,
        .front,
        > .topbar > *,
        > label,
        > canvas,
        > img {
            border: 1px solid $accent1;
            box-shadow: 2px 2px 4px $accent3;
            outline: 1px solid $primary;
        }
    }

    &[data-hidden="true"] {
        display: none;
    }
}

.wrapper {
    display: grid;
    //minmax with autofit causes alot of lag in chrome
    //15.7.2022 removed and fixed width
    //grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-columns: repeat(auto-fit, $width + 2 * $overhang);
    grid-template-rows: repeat(auto-fit);
    justify-items: center;
    justify-content: space-evenly;
    overflow-y: auto;
    padding-block: 2px;
}

.uploadForm {
    padding: $overhang;
    .dropzone {
        width: $width;
        height: $width * 1.414;
        border: 2px dashed $gray-300;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
        cursor: pointer;
        &:hover {
            border: 2px dashed $accent1;
        }
        &[data-drop-active="true"] {
            border: 2px dashed $accent1;
        }

        svg {
            stroke-width: 0.1px;
            color: $gray-400;
        }
        border-radius: 4px;
    }
}

.info {
    display: flex;

    tbody {
        th {
            text-align: left;
            font-weight: normal;
            color: $gray-700;
            font-size: 0.6rem;
            padding-inline-end: 0.5rem;
        }
    }
}

/** Flip card effect*/
.snip {
    position: relative;
    .card {
        //Front
        transition: transform 1s;
        transform-style: preserve-3d;
        min-width: 150px;
        min-height: calc(150px * 1.41);

        .front,
        .back {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            backface-visibility: hidden;
            background: white;
        }

        .back {
            transform: rotateY(180deg);
        }

        &[data-flip="true"] {
            transform: rotateY(180deg);
            transition: transform 0.5s;
        }
    }
}

.contextMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 3;
    padding: 0.25rem;
    width: 100%;
    row-gap: 0.25rem;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        margin: 0;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    .info {
        margin-top: 0.2rem;
        width: 100%;
        display: table !important;
        display: flex;
        td {
            font-size: 0.7rem;
            text-align: right;
            color: var(--bs-dark);
        }
    }

    .actions {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
    }
}

.header {
    width: 100%;
    position: relative;

    // placeholder to keep some space for the dropdown
    .placeholder {
        width: 35px;
        height: 10px;
        float: right;
        shape-outside: rect(0px, 20px, 20px, 0px) padding-box;
        clip-path: inset(0px 0px 0px 0px);
    }

    .title {
        font-size: 0.8rem;
        text-align: center;
        color: var(--bs-dark);
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        //max one line
        max-height: 1.5rem;
    }
}

.newBadge {
    background-color: red !important;
    color: white !important;
    font-weight: bold;
}
