.submenu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    width: min-content;
    > div {
        height: 100%;
    }

    :global(.input-group) {
        width: 100%;
        margin-top: 0rem;
    }
}

.wh {
    grid-column: span 1;
    width: 100%;
    display: flex;
    gap: 0.5rem;

    height: 100%;
    .inputs {
        width: 100%;
    }
    > div {
        min-width: 200px;
        height: 100%;
    }
    input {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        font-weight: 500;
        color: var(--bs-gray-700) !important;
    }
}
