@use "@colors" as *;

.sideBar {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // The nav and tab content
    // should manage the overflow
    overflow: hidden;

    // Wrapper for the nav and toolbar
    .tabBar {
        background-color: $gray-100;
        border-bottom: 1px solid #cfcfcf;
        flex-wrap: wrap;
    }

    &[data-init-width="true"] {
        width: 350px;
    }
    background: repeating-linear-gradient(
        45deg,
        $gray-100,
        transparent 20px,
        transparent 25px
    );
    background-color: var(--bs-body-bg);

    // Overwrite initial width if the sidebar is
    // the only child
    &:only-child {
        width: 100% !important;
    }
}

/** Overwrite default bootstrap styles */
.sideBar :global {
    .nav {
        flex-wrap: nowrap !important;
        background-color: $primary;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        .nav-item {
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: center;
            .nav-link {
                padding: 0 1em 0 1em;
                margin: 0;
                height: 100%;
                width: 100%;
                color: $light;
            }

            .nav-link[data-active="true"],
            .nav-link.active {
                color: $dark;
                border-bottom: none;
                background-color: $gray-100;
                position: relative;
            }

            &:first-child > .nav-link[data-active="true"] {
                border-left: 1px transparent;
                border-top-left-radius: 0;
            }
            &:last-child > .nav-link[data-active="true"] {
                border-top-right-radius: 0;
                border-right: 1px transparent;
            }
        }
    }

    .nav-tabs {
        border-bottom: none;
        background-color: $primary;
    }

    .tab-content {
        display: block;
        flex: auto 1;
        overflow: hidden;
        height: 100%;

        background: repeating-linear-gradient(
            45deg,
            $gray-100,
            transparent 20px,
            transparent 25px
        );
    }

    .tab-pane {
        padding: 0.2rem;
        height: 100%;
        direction: ltr;
        overflow-y: auto;

        > * {
            direction: ltr;
        }
    }
}

.topNavigation {
    padding: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: $gray-100;
    border-bottom: 1px solid #cfcfcf;
}

.tabPane {
    scrollbar-width: thin;
}

.notificationBadge {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    color: white;
}

/** Fullscreen add inset for mobile devices */

.sideBar :global {
    .nav {
        padding-top: env(safe-area-inset-top);
    }
}
