@import "@colors";

/** The main layout consists of a sidebar and a main content area
*/
$sidebar-bg: $gray-300;
$content-bg: $gray-100;
$padding: 1rem;

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: $sidebar-bg;
}

.sidebar {
    width: fit-content;
    background-color: $sidebar-bg;
    padding: $padding / 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    flex: 1;
    background-color: $content-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
    position: relative;

    h1 {
        color: $primary;
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
}

/** Sidebar tabs 
* First we define the mixins used to style active and inactive tabs
* also hover states
*/
$tab-padding-x: 1rem;
$tab-padding-y: 0.6rem;
$tab-bg: $sidebar-bg;
$tab-bg-active: $content-bg;
$tab-border: None;

@mixin tab_active($bg_color: $tab-bg-active, $right: true) {
    position: relative;
    background-color: $bg_color;

    @if $right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    } @else {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    // We fill the padding to the right of the tab in a after element
    // to make the tab look like it is connected to the content
    &::before {
        content: "";
        position: absolute;

        @if $right {
            right: calc(-1 * $padding);
        } @else {
            left: calc(-1 * $padding);
        }
        top: 0;
        bottom: 0;
        width: calc($padding);

        background-color: $bg_color;
        border-top: $tab-border;
        border-bottom: $tab-border;
    }
}

@mixin tab_base($bg_color: $tab-bg) {
    background-color: $bg_color;
    color: $primary;

    padding: $tab-padding-y $tab-padding-x;

    border-radius: 0.5rem;
    border: $tab-border;

    text-decoration: none;
    text-align: left;
    font-weight: bold;
    overflow: visible;

    a {
        text-decoration: none;
    }
}

// Container for the tabs
.tabs {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: 100%;
}

.tab {
    @include tab_base;

    &.active {
        @include tab_active;
    }

    &:hover:not(.active) {
        cursor: pointer;
        @include tab_active($gray-200);
        background-color: $gray-200;
    }

    cursor: pointer;
}

/** Special tab styles for tabs opening to the left
* Can for example be used for back buttons or similar
*/
.tab_special {
    margin-top: auto;

    display: flex;
    gap: 0.5rem;

    align-self: baseline;

    div,
    a {
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
        color: $primary;
        justify-content: center;
        align-items: center;
        width: max-content;
    }
    @include tab_base;

    // Simulate active state to the left of the button
    @include tab_active($tab-bg-active, false);

    &:hover {
        cursor: pointer;
        @include tab_active($gray-200, false);
        background-color: $gray-200;
    }
}
