.wrapper {
    display: flex;
    width: 100%;
    gap: 0.25rem;
    :global(.dropdown) {
        flex: 1;
        flex-grow: 1;
    }
}

.menu {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0.5rem;
    column-gap: 0.25rem;

    &.grid {
        &:global(.show) {
            display: flex;
        }

        :global(.dropdown-item) {
            padding: 0;
            width: 152px;
            border: 1px solid var(--bs-border-color);

            &:hover {
                border: 1px solid var(--bs-primary);
            }
            &:global(.disabled) {
                border: 1px solid var(--bs-primary);
            }
        }
    }
}

.bookItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;

        font-size: 0.8rem;
        color: var(--bs-body-color);

        overflow: hidden;
        text-overflow: ellipsis;

        background: "rgba(0, 0, 0, 0.3)";
        backdrop-filter: blur(2px);
    }
}
