.latencyModal {
    display: flex;
    backdrop-filter: blur(2px);

    :global(.modal-dialog) {
        margin: 0;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    :global(.modal-content) {
        width: 100%;
        border-radius: 0;
        background: rgba(251, 255, 255, 0.5);
    }

    .body {
        width: 100%;
        //background blur
        backdrop-filter: blur(5px);
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--bs-danger);
}
