@use "@colors" as *;

.menu {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    width: min-content;

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }

    :global(.input-group) {
        width: 100%;

        :global(.form-floating) > button,
        input {
            border: 1px solid var(--bs-border-color);
        }

        > button {
            border: 1px solid var(--bs-border-color);
            border-top-left-radius: 0;
        }
    }
}

.font_family {
    grid-column: 1;
    grid-row: span 1;
    min-width: 150px;
    width: 100%;
    z-index: 1;
}

.font_size {
    grid-column: 2;
    grid-row: span 1;
    min-width: 150px;
    width: 100%;
    z-index: 1;
}

.line_wrap {
    grid-column: 1;
    grid-row: span 1;
    width: 100%;
    z-index: 1;
}

.line_height {
    grid-column: 2;
    grid-row: span 1;
    width: 100%;
    z-index: 1;
}

/** Text area to input text */
.textarea {
    all: unset;
    width: 100%;
    height: 100%;
    position: absolute;

    overflow: hidden;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    display: inline-block;
    word-break: break-all;
    // TODO: fix resizer by introducing a drag handler
    resize: none;
    color: transparent;
    caret-color: black;
    cursor: text;
}

.resizerWrap {
    width: 2.55rem;
    justify-self: flex-end;
    position: relative;

    &:hover {
        cursor: col-resize;
    }
    &::after {
        content: "";
        position: absolute;
        top: calc((100% - min(40px, 50%)) / 2);
        left: 2px;
        width: 2px;
        height: min(40px, 50%);
        background-color: var(--bs-secondary);
        display: block;
    }
    &::before {
        content: "";
        position: absolute;
        top: calc((100% - min(25px, 30%)) / 2);
        left: 5px;
        width: 2px;
        height: min(25px, 30%);
        background-color: var(--bs-secondary);
        display: block;
    }
}

.markdown {
    grid-row: span 1;
    grid-column: span 2;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 2.3rem;

    button {
        height: 100%;
        border: 1px solid var(--bs-border-color);
        padding: 0rem;
        padding-inline: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:target,
        &:focus,
        &:hover {
            border: 1px solid $primary;

            svg {
                color: $primary;
            }
        }
        padding: 0.4rem;
        svg {
            width: 100%;
            height: 100%;
            stroke-width: 1.5;
            color: var(--bs-body-color);
        }
    }
}
