@mixin text-input {
    font-size: 16px;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    position: absolute;
    top: 0;
    left: 0;
    caret-color: black;

    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    padding: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    flex: 0 1 auto;

    .toolbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-evenly;
    }

    .textarea {
        position: relative;

        border: 1px solid var(--bs-border-color);
        resize: vertical;
        height: 100%;

        outline: none;
        padding: 5px;
        background-color: #f5f5f5;
        overflow: auto;
        min-height: 10rem;

        textarea {
            all: unset;
            color: transparent;
            background-color: transparent;
            white-space: pre;

            @include text-input;
            z-index: 1;
        }

        pre > code {
            @include text-input;
            overflow: hidden;
        }
    }
}
