.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    // Styling
    padding: 0.5rem;
    border-radius: var(--bs-border-radius);
    border: 3px solid var(--bs-danger);
    background-color: rgba(255, 0, 0, 0.01);

    .title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .message {
        font-size: 1rem;

        &::before {
            content: "•";
            color: var(--bs-danger);
            margin-right: 0.25rem;
        }
    }
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
}
