.wrapper {
    > div {
        min-height: 10rem;
        height: fit-content;
        aspect-ratio: 1 / 1.41;
        border: 1px solid var(--bs-border-color);
        position: relative;

        &::before {
            bottom: -0.5rem;
            left: 0;
            position: absolute;
            content: "Page Preview";
            padding: 0.5rem;
            font-size: xx-large;
            font-family: "Lato", sans-serif;
            letter-spacing: 1.04rem;
            color: var(--bs-gray-200);
            display: block;
            clear: both;
        }
    }
}
