@import "@colors";

$bg: repeating-linear-gradient(
        45deg,
        $gray-100,
        transparent 20px,
        transparent 25px
    ),
    repeating-linear-gradient(
        -45deg,
        $gray-100,
        transparent 20px,
        transparent 25px
    );

/** Main container holding the full fontPage and all its sections
* see above for background styling
*/
.main {
    width: 100%;
    height: 100%;
    overflow: auto;
}

main {
    background: $bg;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: $dark;
    overflow: unset;
}
body {
    display: flex;
    margin-inline: 5px;
    flex-direction: column;
    overflow-y: auto;
}

h1,
h2 {
    color: $primary;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
}
