@use "@colors" as c;
// Special styling for collaborators input
.collaborators {
    .inputField {
        position: relative;
        height: 100%;
        padding-top: 1.1rem;
        top: 0;
        left: 0;
        font-family: inherit;
        font-size: 1.1rem;
        font-weight: 600;
        background-color: none;
        transition: width 0.3s linear;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0 0.5rem;

        &:hover {
            border-color: c.$primary;
        }

        //Autofills for all browsers

        svg:hover {
            cursor: pointer;
        }

        input {
            //Disable the default styling#
            width: 100%;
            min-height: 1rem;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
            padding: 0;
            display: flex;
            flex-grow: 1;
        }
        .collaborator {
            display: inline-block;

            &[data-isvalid="false"] {
                color: c.$danger;
            }
        }
    }
}

.description {
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.2rem;
    padding: 0.5rem;
    color: c.$gray-dark;
    margin-bottom: 0.75rem;
}
