@use "@colors" as *;

.menu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, auto);
    justify-content: center;
    align-items: center;
}

.zoom {
    grid-column: 1;
    grid-row: span 1;
    width: 225px;
}

.align {
    grid-row: span 1;
    grid-column: span 1;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 2.3rem;

    button {
        width: 100%;
        height: 100%;
        border: 1px solid var(--bs-border-color);
        padding: 0rem;
        padding-inline: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:target,
        &:focus,
        &:hover {
            border: 1px solid $primary;

            svg {
                color: $primary;
            }
        }
        padding: 0.4rem;
        svg {
            width: 100%;
            height: 100%;
            stroke-width: 1.5;
            color: var(--bs-body-color);
        }
    }
}
