@use "@colors" as *;

.reset {
    display: block;
    //flex-grow: 1;
    //reset to standard btn styles
    border: 0;
    padding: 0.5rem;
    padding-inline: 0.75rem;
    background-color: transparent;

    svg,
    i {
        transition: all 0s;

        // Transform on click rotate 180 degrees
        &[data-active="true"] {
            transition: all 0.2s ease-in;
            transform: rotate(-360deg);
        }
    }

    box-sizing: border-box;
    border: var(--bs-border-width) solid;
    border-color: var(--bs-border-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:target,
    &:hover {
        border: 1px solid $primary;
    }
}

.lockBtn {
    display: block;
    border: none !important;
    padding-inline: 0.2rem;
}

.button {
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    margin-right: -1px;

    &:last-child {
        margin-right: 0px;
        border-top-right-radius: var(--bs-border-radius);
        border-bottom-right-radius: var(--bs-border-radius);
    }

    &:hover {
        // TODO: fix z-index
        // used to show outline on hover
        z-index: 5;
    }
}

.showPassword {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    cursor: pointer;
    color: $gray-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    svg {
        font-size: 1rem;
    }
    transition: color 0.3s ease-in-out;
    &:hover {
        color: $primary;
    }
}

/* -------------------------------------------------------------------------- */
/*                                color inputs                                */
/* -------------------------------------------------------------------------- */

.colorInput {
    display: flex;
    .color {
        width: 100%;
        height: 20px;
        border-radius: 0rem;
        margin-top: 0.2rem;
    }
}

// Inside the multicolor input
.colors {
    display: flex;
    flex-wrap: wrap;
    &:hover {
        cursor: default !important;
    }

    //First add border
    border-top-left-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);

    .color_add,
    .color {
        height: 40px;

        //border
        margin: 2px;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        padding: 0;

        border: none !important;
        //border: 1px solid $gray-400;
        overflow: hidden;

        &[data-active="true"] {
            border-radius: 0.5rem;
            border: 2px $dark solid !important;
            outline: 1px solid $dark;
            z-index: 100;
        }

        &:hover {
            border: 2px $dark solid !important;
            outline: 1px solid $dark !important;
            z-index: 100;
        }
        transition: border-radius 0.3s ease-in-out;
    }

    .color_add {
        background-color: $gray-200;
        color: $gray-600;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $gray-300;
        }
    }
}

.hex {
    margin-left: 0.5rem;
}

@media (max-width: 500px) {
    .hex {
        display: none;
    }
}

/* -------------------------------------------------------------------------- */
/*                                number inputs                               */
/* -------------------------------------------------------------------------- */

@mixin rangeThumb {
    width: var(--size-thumb);
    height: var(--size-thumb);
    border-radius: 50%;
    background: $primary;
    cursor: pointer;
    border: 0 !important;
}
@mixin rangeTrack {
    width: 100%;
    height: 0.5rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}

.range {
    --size-thumb: 0.65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    // Thumb
    &::-webkit-slider-thumb {
        -webkit-appearance: none; // needed again for Chrome & Safari
        @include rangeThumb;
        margin-top: calc((0.5rem - var(--size-thumb)) / 2);
    }
    &::-moz-range-thumb {
        @include rangeThumb;
    }
    &::-ms-thumb {
        @include rangeThumb;
    }
    // Track
    &::-webkit-slider-runnable-track {
        @include rangeTrack;
    }
    &::-moz-range-track {
        @include rangeTrack;
    }
    &::-ms-track {
        @include rangeTrack;
    }
}

.joinedNumbers,
.joinedRangeNumber {
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    align-items: center;
    --basis-range: 80%;
    --basis-number: 20%;

    input[type="range"] {
        all: unset;
        min-width: 0 !important;
        width: 100%;
        flex-grow: 0;
        text-align: center;
    }

    /* Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        min-width: 2.6rem !important;
        all: unset;
        flex-shrink: 1;
        -moz-appearance: textfield;
        border-radius: 0 !important;
        border-bottom: 2px solid $gray-400;
        align-self: center;
        text-align: center;

        background-color: transparent;
    }
}

.joinedNumbers {
    justify-content: space-around;
    gap: 0.8rem;
    input {
        flex-grow: 1 !important;
    }
}

.linkedNumbers {
    display: flex;

    .lock {
        margin-left: 0.5rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 2rem;
            height: 100%;
            padding: 0.25rem;
            border: 1px solid var(--bs-border-color);

            &:hover {
                border: 1px solid var(--bs-primary);
            }
            svg {
                width: 100%;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                option inputs                               */
/* -------------------------------------------------------------------------- */

.toggle {
    color: var(--bs-body-color);
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    background-color: var(--bs-body-bg) !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-top-left-radius: var(--bs-border-radius) !important;
    border-bottom-left-radius: var(--bs-border-radius) !important;

    &:focus,
    &:focus-visible,
    &:active {
        //reset to standard color
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
    }
}

.dropdown {
    :global(.btn) {
        &:hover {
            border-color: inherit;
        }
    }

    label {
        background-color: transparent !important;
        z-index: 10;

        &::after {
            background-color: transparent !important;
        }
    }

    //Disabled
    :global(.disabled),
    fieldset[disabled],
    :disabled {
        background-color: var(--bs-gray-200) !important;
        border: inherit;

        label {
            background-color: var(--bs-gray-200) !important;
        }
    }
}

.menu {
    width: 100%;
}

.switchContainer {
    padding-left: 1rem;
}

.switch {
    padding: 0.5rem !important;
    min-height: 100% !important;
    height: auto !important;
    all: unset;
    > * {
        all: unset;
    }

    label {
        visibility: visible;
    }
}

/* -------------------------------------------------------------------------- */
/*                            valid invalid feedback                          */
/* -------------------------------------------------------------------------- */

.invalid,
.valid {
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    display: none;
}
.invalid[data-active="true"] {
    display: block;
}
.valid[data-active="true"] {
    display: block;
}
