@use "@colors" as *;

/** Table of credentials */
.table {
    display: grid;
    width: 100%;
    grid-template-columns: auto max-content max-content max-content max-content;
    overflow: hidden;
    column-gap: 1rem;
    row-gap: 0.25rem;

    .header {
        font-weight: bold !important;
        display: contents;
        color: $dark;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        row-gap: 1rem;

        .header {
            display: none;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1rem;
            margin-bottom: 1rem;

            .email,
            .verified,
            .primary,
            .type {
                text-align: start;
                justify-content: flex-start;
            }

            .email::before {
                content: "Email: ";
                font-family: "Lato", sans-serif;
                font-size: 1rem;
                font-weight: bold;
                color: $dark;
            }

            .verified::before {
                content: "Verified: ";
                font-family: "Lato", sans-serif;
                font-size: 1rem;
                font-weight: bold;
                color: $dark;
            }

            .primary::before {
                content: "Primary: ";
                font-family: "Lato", sans-serif;
                font-size: 1rem;
                font-weight: bold;
                color: $dark;
            }

            .type::before {
                content: "Type: ";
                font-family: "Lato", sans-serif;
                font-size: 1rem;
                font-weight: bold;
                color: $dark;
            }

            &::after {
                content: "";
                display: block;
                height: 0.25rem;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

.row {
    display: contents;
    text-align: end;

    .email,
    .verified,
    .primary,
    .type {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: flex-end;
    }

    .email {
        text-align: start;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $secondary;
        font-family: "Liberation Mono", "Courier New", monospace;
        font-size: 14px;
        font-weight: 700;
        justify-content: flex-start;
    }
    .verified {
        color: $danger;

        &[data-verified="true"] {
            color: $success;
        }
    }
    .primary {
        color: $danger;

        &[data-primary="true"] {
            color: $success;
        }
    }
    .type {
        text-transform: capitalize;
    }
}
