@use "@colors" as *;

$spacing: 0.3rem;
$borderRadius: 1.2rem;

/**
* The toolbar can be aligned 
* to either side of the screen
* set the data-position attribute
* to change the position.
*/
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    gap: $spacing;
    max-width: 33%;

    // data-position="left"
    // TODO allow for top and bottom positioning
    &[data-position="left"] {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr auto 1fr;
        gap: $spacing;
        height: 100%;
    }

    // align at end of flex
    .help {
        margin-right: auto;
        justify-self: flex-end;
    }

    padding-top: $spacing;
    padding-left: $spacing;
    padding-bottom: $spacing;
}

.help {
    background-color: var(--bs-body-bg);
    border: 1px solid $accent3;
    border-radius: $borderRadius;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    &[data-expanded="true"] {
        padding: $spacing;
        .expandBtn {
            border: none;
            outline: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-self: flex-end;
            align-self: flex-end;
            padding-inline: 0.2rem;
            font-size: 0.85rem;
        }
    }

    &[data-expanded="false"] {
        .expandBtn {
            outline: none;
            aspect-ratio: 1;
        }
        .content {
            display: none;
        }

        &:hover {
            outline: 1px solid $primary;
            border-color: $primary;
        }

        border-radius: 50%;
        border-bottom-left-radius: 0;
    }

    .expandBtn {
        padding: 0;
        color: $primary;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        padding-top: 0.1rem;
        padding-inline: 0.25rem;
    }
}

.menu {
    grid-row: 2;

    display: flex;
    flex-direction: row;
    align-items: center;
}

$widthTools: 4rem;

/** Wrapper to show tools in center of page*/
.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing;
    padding-block: $spacing * 1.5;
    z-index: 2;

    width: $widthTools;
    max-width: $widthTools;
    min-width: $widthTools;
    background-color: var(--bs-body-bg);
    border: 2px solid $accent2;
    border-radius: $borderRadius;
}

.submenu {
    z-index: 1;
    width: fit-content;
    border: 2px solid $accent3;

    border-radius: $borderRadius;
    margin-left: -$borderRadius;
    padding: $spacing * 1.5;
    padding-left: $borderRadius + $spacing / 2;
    padding-right: $spacing * 1.5;
    max-width: calc(400px + $borderRadius + $spacing);
    background-color: var(--bs-body-bg);

    &[data-show="false"] {
        display: none !important;
    }

    // Disable borders of inputs
    // On close potential reset button
    :global(.form-control) {
        //border: none;
        border-radius: $borderRadius / 2;
        //margin-right: $spacing;
    }

    :global(.input-group) {
        button {
            border: 1px solid var(--bs-border-color);
            border-radius: $borderRadius / 2;

            &:hover {
                border-color: $secondary;
            }
        }
    }

    button {
        border-radius: $borderRadius / 2;
    }
}

.help {
    grid-row: 3;
    z-index: 1;
    border: 2px solid $accent3;

    max-width: 400px;
    // Align at end of flex
    margin-top: auto;
    justify-self: flex-end;
}
/* -------------------------------------------------------------------------- */
/*                                default help                                */
/* -------------------------------------------------------------------------- */
.defHelpIcon {
    padding: 0.2rem;
    gap: 0.1rem;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    border: 1px solid $secondary;
    border-radius: $borderRadius;

    svg {
        width: 1rem;
        height: 1rem;
        stroke-width: 1.5;
    }
}
