.menu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
}

.adjust {
    grid-column: 1;
    grid-row: span 1;
    min-width: 225px;
    max-width: 246px;
    width: 100%;
}

.rangeInput {
    width: 100%;
}
