.table {
    td,
    th {
        background-color: var(--bs-gray-200);
        text-align: left;
        border-color: var(--bs-gray-100);
    }

    width: 100%;
    border-collapse: collapse;
    padding: 0.5rem;

    // Border radius for start and end of table
    tr:first-child th:first-child {
        border-top-left-radius: var(--bs-border-radius);
    }

    tr:first-child th:last-child {
        border-top-right-radius: var(--bs-border-radius);
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: var(--bs-border-radius);
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: var(--bs-border-radius);
    }
}

.schemas {
    figcaption {
        font-size: 0.8rem;
        color: var(--bs-gray-600);
        padding-right: var(--bs-border-radius);
        width: 100%;
        text-align: right;
    }
}
