.textSnip {
    all: unset;
    position: absolute;
    z-index: 2;
    // Only style the select portion
    // as everything else is styled dynamically
    user-select: auto;
    white-space: pre;
    color: transparent;
    overflow: hidden;

    &:hover {
        cursor: text;
    }
}

.linkSnip {
    > * {
        cursor: pointer !important;
    }
}
