@use "@colors" as *;

$width: 10px;

.resizer {
    cursor: ew-resize;
    width: $width;
    display: flex;
    align-items: center;

    background-color: $gray-300;
    flex-shrink: 0;

    > button {
        /* vertically center the inner elements */
        cursor: ew-resize;
        margin: auto;
        display: inline-grid;
        //reset button styles
        border: none;
        background: none;
        padding: 0;

        svg {
            width: $width;
            scale: 1.7;
        }
    }

    &[data-disabled="true"] {
        cursor: default;

        button {
            cursor: default;
        }

        svg {
            fill: $gray-500;
        }
    }

    &[data-mirror="true"] {
        button {
            transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
        }
    }
}
