main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    touch-action: none;
}
