.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    border: 1px solid var(--bs-accent3);
    border-radius: var(--bs-border-radius);
    min-width: calc(800px + 1rem);
}

.toolbar {
    display: flex;
    height: 1.8rem;
    padding-inline: 0.25rem;
    padding-block: 0.1rem;
    gap: 0.1rem;
    button {
        all: unset;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        border-radius: 15%;
        padding: 0.1rem;

        &:hover {
            background-color: var(--bs-secondary);
            color: var(--bs-light);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
    border-bottom: 1px solid var(--bs-accent3);

    // Special styling for dropdown
    .dropdownButton {
        &[data-active="true"] {
            background-color: var(--bs-secondary);
            color: var(--bs-light);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .dropdown {
        background-color: var(--bs-light);
        display: flex;
        gap: 0.2rem;

        button {
            border-radius: 0;
        }

        border-bottom-left-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        overflow: hidden;
    }
}

.resizeWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;

    .wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        .input {
            flex: 1;
            overflow-y: auto;
            padding-inline: 0.2rem;
        }

        textarea {
            all: unset;
            height: 100%;
            width: 100%;
            resize: none;
            border: none;
            padding: 0;
            margin: 0;
            outline: none;
        }

        .preview {
            flex: 1;
            overflow-y: auto;
            border-left: 1px solid var(--bs-accent3);
            padding-block: 0.3rem;
            padding-inline: 0.2rem;
        }
        overflow: hidden;
    }

    .resizeHandle {
        cursor: row-resize;
        width: 100%;
        justify-content: flex-end;
        display: flex;
        padding-inline: 1rem;
        height: 0.6rem;
        max-height: 0.6rem;
        align-items: center;
        border-top: 1px solid var(--bs-accent3);
    }
}
