@use "@colors" as *;
@use "@mixins" as *;

$height_item: 52px;

.form {
    padding-block: 0.4rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &:not([data-glassmorphism="false"]) {
        @media (min-width: 700px) and (min-height: 600px) {
            // Styles for desktop devices
            padding: 0rem;
            min-width: 400px;
            // See mixins.scss for glassmorphism
            @include glassmorphism;
        }
    }
}

// Styling of form components shared across all forms
.header {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
    //text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 20%;
        bottom: calc(0.5rem - 3px / 2);
        left: 0;
        background-color: $gray-400;
        border-radius: 0px 5px 5px 0px;
    }
}

.submit {
    display: flex;
    gap: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;

    .description {
        font-size: 0.85rem;
        font-weight: 600;
        line-height: 1.2rem;
        padding: 0.5rem;
        color: $gray-dark;
    }
}

// Feedback for input validation
.feedback {
    width: 100%;
    padding-inline: 1rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-weight: 600;

    &.inValid {
        color: $red;
    }

    &.valid {
        color: $green;
    }
    &[data-active="false"] {
        display: none;
    }
}

/** Styling for the dropdownInput component */

.dropdown {
    width: 100%;
    padding-top: 0;
    min-height: $height_item;
    .toggle {
        color: var(--bs-body-color);
        height: 100%;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        width: 100%;

        &::after {
            content: "";

            border: 0.3rem solid;
            border-color: var(--bs-body-color) transparent transparent
                transparent;
        }

        &:active {
            //reset to standard color
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
        }

        &[data-withdefault="true"] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .item {
        width: 100%;
    }
    .menu {
        width: 100%;
    }

    label {
        position: absolute;
        left: 0.8rem;
        top: 0.8rem;
        cursor: text;
        transition:
            top 200ms linear,
            left 200ms linear,
            font-size 200ms linear;
        background-color: white;
        font-size: 1rem;

        font-weight: 500;
        padding-inline: 0.25rem;

        top: 0.15rem;
        font-size: 0.75rem;
        font-weight: 500;
        color: $gray-dark;
        left: 0.5rem;
        background-color: inherit;
    }
}

.color {
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    line-height: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.reset {
    display: block;
    //flex-grow: 1;
    min-height: $height_item;
    //reset to standard btn styles
    border: 0;
    padding: 0.5rem;
    padding-inline: 0.75rem;
    background-color: transparent;

    svg,
    i {
        transition: all 0s;

        // Transform on click rotate 180 degrees
        &[data-active="true"] {
            transition: all 0.3s ease-in;
            transform: rotate(-360deg);
        }
    }

    box-sizing: border-box;
    border: var(--bs-border-width) solid;
    border-color: var(--bs-border-color) var(--bs-border-color)
        var(--bs-border-color) transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:target,
    &:hover {
        border: 1px solid $primary;
    }
}
.modal {
    // See mixins.scss for glassmorphism
    @include glassmorphism;
}

.close_btn {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
}

.showPassword {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    cursor: pointer;
    color: $gray-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    svg {
        font-size: 1rem;
    }
    transition: color 0.3s ease-in-out;
    &:hover {
        color: $primary;
    }
}

@media (max-width: 500px) {
    .hex {
        display: none;
    }
}

.multiColorInput {
    height: 40px;

    //border
    margin: 2px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    padding: 0;
    //border: 1px solid $gray-400;
    overflow: hidden;

    &[data-active="true"] {
        border-radius: 0.5rem !important;
        border: 2px $dark solid;
    }

    &:hover {
        border: 1px $dark solid;
    }
    transition: border-radius 0.3s ease-in-out;
}
