.item {
    margin-bottom: 0.5rem;

    :global(.placeholder) {
        height: 21px;
    }
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
}

.description {
    font-weight: normal;
    padding-bottom: 0.25rem;
    padding-inline: 0.25rem;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0.5rem;
    row-gap: 0.5rem;
    column-gap: 3rem;
    padding-inline: 1rem;

    code {
        font-weight: bold;
        color: var(--bs-secondary);
    }

    > * {
        width: 100%;
    }

    @media (max-width: 768px) {
        justify-content: center;
    }
}
