@use "@colors" as c;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    padding: 2rem;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        align-self: baseline;
        margin-bottom: 1.5rem;
        color: c.$primary;
    }
    p {
        width: 100%;
    }
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.1rem;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: column;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0rem;
        padding-bottom: 1rem;
        color: c.$primary;
        text-align: left;
    }
    p {
        margin-bottom: 1rem;
    }
}

/** The info subpage
*/
$inset_form: 1rem;

@mixin item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: c.$dark;

    // Headers are typical h3
    h3 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: c.$primary;
    }

    textarea {
        resize: none;
    }
    form {
        width: 100%;
        height: 100%;
    }
}

.content {
    display: grid;
    padding: 1rem;
    width: 100%;
    align-items: flex-start;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    grid-column-gap: 4rem;
    grid: auto-flow dense / 2fr 2fr;

    textarea {
        line-height: 1rem;
    }

    .item {
        @include item;
        button {
            align-self: flex-end;
        }
    }

    .title_editor {
        @include item;

        // Grid position
        grid-column: 1;
        grid-row: 1;
    }

    .comment_editor {
        @include item;
        height: 100%;

        // Grid position
        grid-column: 1;
        grid-row: 2 / span 2;

        button {
            align-self: flex-end;
        }
    }

    .finished {
        @include item;

        // Grid position
        grid-column: 1;
        grid-row: 4 / span 2;
    }

    .download_utils {
        @include item;
        // Grid position
        grid-column: 1;
        grid-row: 6 / span 2;

        // Center buttons
        display: flex;

        height: 100%;
        width: 100%;

        button {
            align-self: flex-end;
        }
    }

    .preview {
        // Grid position
        grid-column: 2;
        grid-row: 1 / span 4;
        height: 100%;

        // Center image
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;

        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }

    .last_updated {
        @include item;

        // Grid position
        grid-column: 2;
        grid-row: 7;
    }

    .created_at {
        @include item;

        // Grid position
        grid-column: 2;
        grid-row: 6;
    }

    // Date formatter
    .date {
        &::before {
            color: c.$primary;
            content: "> ";
        }
    }
    form {
        text-align: left;
        :global(.form-check) {
            margin-left: 2.5rem;
        }
    }

    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

/** Preview for the frontpage
*/
.frontpage {
    min-width: 200px;
    min-height: calc(200px * 1.41);

    display: flex;
    justify-content: center;
    align-items: center;

    // Preview container
    > * {
        border-radius: var(--bs-border-radius);
        box-shadow: var(--bs-card-shadow);
        border: 1px solid var(--bs-border-color);
        overflow: hidden;
    }
}

.pages {
    //Pages container
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 0.5rem;
}

/** Grid layout for content
*/
.contentNew {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1em 1em;

    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    // Span for the frontpage
    .grid_1_3 {
        grid-column: span 1;
        grid-row: span 3;
    }

    .grid_2_1 {
        grid-column: span 2;
        grid-row: span 1;
    }
}
