@import "@colors";
/** config form holds the config items */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
    padding-inline: 2rem;
    justify-content: center;

    h3 {
        color: $primary;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.grouping {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    height: 100%;

    .config {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 200px;
        max-width: 600px;
        margin-bottom: -1.5rem;
    }

    .preview {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;

        min-width: 200px;
        max-width: 300px;

        .previewContainer {
            display: flex;
            flex: 1;
            min-height: 200px;

            background-color: var(--bs-body-bg);
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
        }

        h4 {
            position: absolute;
            right: 0.8rem;
            top: 0.8rem;
            // same style as input label
            font-size: 0.75rem;
            color: $gray-800;
            margin-bottom: 0;
            text-align: right;
            line-height: 1.1em;
            font-family: "Lato", sans-serif;
        }

        canvas {
            width: 100%;
            height: 100%;
        }
    }
}

.testDoodle {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;

    border-radius: 5px;
    background-color: var(--bs-body-bg);
    position: relative;
    touch-action: none;

    :global(.form-control) {
        height: 100%;
        padding: 0 !important;
    }

    canvas {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
