@import "@colors";

.resizer {
    cursor: ew-resize;
    width: 10px;
    display: flex;
    align-items: center;

    background-color: $gray-300;
    flex-shrink: 0;

    div {
        /* vertically center the inner elements */
        margin: auto;
        display: inline-grid;

        i {
            /* vertically center the inner elements */
            margin-inline: -3px;
            font-size: 0.8rem;
            line-height: 0.5em;
        }
    }
}

.icon_flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
