@use "@colors" as *;

.editor {
    display: flex;
    height: 100%;
    background-color: $gray-300;

    // Add some padding if media is fullscreen or standalone as this mode
    // disables the footer

    @media all and (display-mode: fullscreen) {
        padding-bottom: env(safe-area-inset-bottom);
    }
    @media all and (display-mode: standalone) {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

[data-fullscreen="true"] {
    .editor {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

.viewer {
    position: relative;
}
