$padding: 0.2rem 0.5rem;

.wrapper {
    padding: $padding;
    background-color: transparent;
    border: 2px solid whitesmoke;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;

    .inner {
        height: 100%;
    }
}

.img_wrapper {
    float: right;
}

.title {
    font-weight: 600;
    text-align: left;
    font-size: 1.15rem;
}
.description {
    text-align: left;
    max-width: 600px;
    margin-left: 0.2rem;
}

.buttons {
    padding: $padding;
    width: 100%;

    a,
    button {
        width: 100%;
    }
}
