@use "@colors" as *;

.searchBar {
    display: flex;
    min-width: 120px;
    flex-grow: 1;
    width: min-content;
    position: relative;
    align-items: center;
    height: 100%;
    padding: 0.25em;

    > input {
        flex-shrink: 1;
        flex-grow: 1;
        width: 100%;
        margin-left: 2px;
        height: 42px;
        border-radius: 4px;
        border: 1px solid $accent3;
        padding: 4px;
        &:focus {
            outline: 1px solid $primary;
            border-color: $primary;
        }
    }
    > img {
        height: 26px;
        padding: 2px;
    }
    :global(.loadingSpinner) {
        position: absolute;
        display: flex;
        right: 0;
        padding: 0.5rem;
        color: $primary;
    }
}

.pageSwitcher {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;

    button {
        display: flex;
        padding: 5px;
        background-color: var(--bs-body-bg);
        border: 1px solid $accent3;
        border-radius: 4px;

        &:disabled {
            background-color: var(--bs-disabled-bg);
            border: 1px solid var(--bs-border-color);
            color: var(--bs-disabled-color);
        }

        &:focus,
        &:hover {
            border: 1px solid $primary;
            background-color: var(--bs-body-bg);
            outline: 1px solid $primary;

            svg {
                fill: $primary;
            }
        }

        svg {
            fill: rgba($primary, 0.9);
        }
    }
}

.bottomNavBar {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: $gray-100;
    border-top: 2px solid $gray-200;

    button {
        display: flex;
        padding: 2px;
        background-color: var(--bs-body-bg);
        border: 1px solid $accent3;
        border-radius: 4px;

        &:disabled {
            background-color: var(--bs-disabled-bg);
            border: 1px solid var(--bs-border-color);
            color: var(--bs-disabled-color);
        }

        &:focus,
        &:hover {
            border: 1px solid $primary;
            background-color: var(--bs-body-bg);
            outline: 1px solid $primary;
            svg {
                color: $dark;
            }
        }
        svg {
            stroke-width: 1.3px;
            color: rgba($primary, 0.9);
        }
    }

    @mixin pwa {
        justify-content: space-around;
        .fullScreenBtn {
            display: none;
        }
    }
    @media all and (display-mode: standalone) {
        @include pwa;
    }
    @media all and (display-mode: fullscreen) {
        @include pwa;
    }
}
