.header {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--bs-dark);
    width: 100%;
    padding-left: 0.6rem;
    position: relative;
    > svg {
        position: absolute;
        right: 0;
        stroke-width: 1.5px;
        width: 1.5rem;
        height: 1.5rem;
        stroke: var(--bs-primary);
        fill: var(--bs-primary);
    }

    span {
        height: 100%;
        text-align: center;
    }

    padding-bottom: 0.25rem;
    margin-top: -0.2rem;
}

.wrapper {
    padding-top: 0.5rem;
    font-size: 0.85rem;
    width: min-content;
    min-width: 10rem;
    height: 100%;

    p {
        margin: 0;
    }

    > :last-child {
        //Move 1rem down
        margin-bottom: -1rem;
    }
    kbd {
        background-color: var(--bs-light);
        color: var(--bs-primary);
        font-family: monospace;
    }
}

.shortcuts {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    height: 100%;
    //header
    .title {
        font-weight: bold;
        font-size: 1.1em;
        color: var(--bs-dark);
        width: 100%;
        padding-left: 0.6rem;
    }

    tr {
        td {
            padding-inline: 0.2rem;
            padding-block: 0.1rem;
        }
    }
}
