.wrapper {
    position: absolute;
    overflow: visible;

    z-index: 1;
}

/** An outline around the element which allows to place elements within the overlay 
which are not part of the overlay itself */
$outlineContainerSize: 2.3rem;
/** Space between content and outline-accent */
$paddingAccent: 0.5rem;
/** Space between outline-accent and outline */
$paddingOutline: 0.5rem;

.outline {
    --margin: 0.5rem;
    z-index: -1;
    position: absolute;
    top: calc(-1 * $outlineContainerSize - $paddingAccent - $paddingOutline);
    left: calc(-1 * $outlineContainerSize - $paddingAccent - $paddingOutline);
    width: calc(
        100% + 2 * ($outlineContainerSize + $paddingAccent + $paddingOutline)
    );
    height: calc(
        100% + 2 * ($outlineContainerSize + $paddingAccent + $paddingOutline)
    );

    //align item
    display: grid;
    overflow: hidden;

    > * {
        // Stack the elements
        grid-column: 1;
        grid-row: 1;
    }
}

.content {
    width: 100%;
    height: 100%;
}

.accent {
    justify-self: center;
    align-self: center;
    grid-column: 1;
    grid-row: 1;

    width: calc(100% - 2 * $outlineContainerSize - 2 * $paddingOutline);
    height: calc(100% - 2 * $outlineContainerSize - 2 * $paddingOutline);
    border: 2px solid var(--bs-secondary);
    border-radius: 0;

    &[data-type="square"] {
        border-radius: 0 !important;
    }
}

.mover {
    // Alignment in outline
    justify-self: flex-start;
    align-self: flex-start;

    width: $outlineContainerSize;
    height: $outlineContainerSize;
    cursor: move;
    margin: 1rem;

    svg {
        width: 2rem;
        height: 2rem;
        stroke: var(--bs-secondary);
        stroke-width: 1.4;
    }
    overflow: hidden;
}

.place {
    // Alignment in outline
    justify-self: center;
    align-self: flex-end;

    height: $outlineContainerSize;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                           resizer for the overlay                          */
/* -------------------------------------------------------------------------- */
$resizeSize: 0.75rem;
$areaSize: 1.2rem;

%handle {
    width: $areaSize;
    height: $areaSize;
    position: relative;
    border-radius: 50%;
    margin: $outlineContainerSize - $areaSize / 2 + $paddingOutline;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $resizeSize;
        height: $resizeSize;
        border-radius: 50%;
        background-color: var(--bs-light);
        border: 2px solid var(--bs-primary);
    }

    &:hover {
        border-color: var(--bs-primary);
        scale: 1.1;
    }

    &[data-type="square"] {
        &::before {
            border-radius: 0 !important;
        }
    }
}

.handle {
    @extend %handle;

    &[data-position="top-left"] {
        justify-self: flex-start;
        align-self: flex-start;
        cursor: nw-resize;
    }
    &[data-position="top-right"] {
        justify-self: flex-end;
        align-self: flex-start;
        cursor: ne-resize;
    }
    &[data-position="bottom-right"] {
        justify-self: flex-end;
        align-self: flex-end;
        cursor: se-resize;
    }
    &[data-position="bottom-left"] {
        justify-self: flex-start;
        align-self: flex-end;
        cursor: sw-resize;
    }
    &[data-position="top"] {
        justify-self: center;
        align-self: flex-start;
        cursor: n-resize;
    }
    &[data-position="right"] {
        justify-self: flex-end;
        align-self: center;
        cursor: e-resize;
    }
    &[data-position="bottom"] {
        justify-self: center;
        align-self: flex-end;
        cursor: s-resize;
    }
    &[data-position="left"] {
        justify-self: flex-start;
        align-self: center;
        cursor: w-resize;
    }
}
