@use "@colors" as *;

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    &[data-show="false"] {
        display: none;
    }
}

.itemFull {
    padding-block: 0.2rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    .header {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding-right: 0.5rem;
        justify-content: space-between;
        width: 100%;

        label {
            color: $primary;
            font-size: 1rem;
            font-weight: bold;
            padding-left: 0.1rem;
        }
        //Description
        span {
            color: $accent3;
            font-size: 0.75rem;
            font-weight: normal;
        }
    }
    .content {
        width: 100%;
    }
}

.itemSmall {
    width: min-content;
}
