@use "@colors" as *;
@use "sass:color";

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

$color-inactive: color.adjust($secondary, $lightness: 10%);
$color-hover: $secondary;
$color-active: $primary;

%button {
    position: relative;
    border: none;
    outline: none;
    padding: 0;
    height: 100%;
    width: 100%;

    &:focus,
    &:active,
    &:hover {
        border: none;
        outline: none;
        .icon {
            scale: 1.1;
            color: $color-hover;
            stroke: $color-hover;
            --pen-color: var(--pen-color-hover, var(--pen-color-active));
        }
    }

    &:disabled {
        background-color: var(--bs-disabled-bg);
        color: var(--bs-disabled-color);
    }

    &:global(.active) {
        outline: none;
        border: none;
        .icon {
            scale: 1.1;
            stroke: $color-active;
            color: $color-active;
            --pen-color: var(--pen-color-active);
        }
    }
}

/** Icons that are used as toggle */
$icon-size-toggle: 2.5rem;

.icon {
    text-align: center;
    vertical-align: middle;
    stroke: $color-inactive;
    stroke-width: 1.5;
    color: $color-inactive;
    transition: all 0.1s;
    --pen-color: var(
        --pen-color-inactive,
        var(--pen-color-hover, var(--pen-color-active)),
    );
}
.noStroke {
    stroke: none !important;
}
.noFill {
    fill: none;
}

.toggleBtn {
    @extend %button;
    padding-inline: 0.4rem;

    .icon {
        width: $icon-size-toggle;
        height: $icon-size-toggle;
    }
}

/** Icons that are used as expand */
$icon-size-expand: 1rem;

.expandBtn {
    @extend %button;
    position: absolute;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    z-index: 2;

    //Expand hitbox to the right
    width: 2rem;
    height: 2rem;
    margin-right: -1rem;
    margin-bottom: -1rem;

    .icon {
        width: $icon-size-expand;
        height: $icon-size-expand;
    }

    &:global(.active) {
        .icon {
            transform: rotate(180deg);
        }
    }
}
